@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: #fadade;
    width: 100vw;

}

header {
    z-index: 4;
    position: sticky;
    top: 0vh;
}


#logo {
    height: 9vh;
    width: auto;
    border: 0.3vh red solid;
    border-radius: 100%;
    animation: logo_rotate 5s ease infinite 3s, logo 3s 1;

}

#text {
    height: 6vh;
    width: auto;
    padding-left: 1vw;
    animation: logo 3s 1;

}

#logo:hover,
#text:hover,
.nav_links a:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.nav {
    overflow: hidden;
    display: flex;
    height: 12vh;
    width: 100vw;
    align-items: center;
    background-color: #86cbed;
    justify-content: space-evenly;
    box-shadow: 0 0.2vh 1vh 0.5vh rgba(0, 0, 0, .3);
}


.nav_items {

    display: flex;
    text-decoration: none;
    align-items: center;
    flex-wrap: wrap;

}

.logos {

    display: flex;
    justify-content: center;
    align-items: center;
}


.nav_links {
    overflow: hidden;
    height: auto;
    display: flex;
    list-style: square;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.nav_links a {
    overflow: hidden;
    background-color: #fadade;
    font-family: 'Lato', sans-serif;
    color: black;
    font-size: 2vh;
    font-weight: 600;
    padding: 1vh 1vw;
    margin: 0 0.5vw;
    text-decoration: none;
    border: 0.4vh solid black;
    border-radius: 2vh;
}

#ordernow {
    background-color: #84e989;
    font-family: 'Lato', sans-serif;
    color: black;
    font-size: 2vh;
    font-weight: 600;
    padding: 1vh 1vw;
    margin: 0 0.5vw;
    text-decoration: none;
    border: 0.4vh solid black;
    border-radius: 2vh;
}

.offer {
    display: flex;
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 600;
    overflow: hidden;
    background-color: red;
    color: white;
    height: 4vh;
    width: 100vw;
    align-items: center;
    justify-content: flex-start;


}

.offer h2 {
    font-size: 2vh;
    animation: offer 30s ease infinite;
    animation-delay: 10ms;
}

.home {
    overflow: hidden;
    margin: 0;
    display: flex;
    align-items: center;
    height: 85vh;
    width: 100vw;
    background-image: url('home.jpg');
    justify-content: center;
    background-color: #fadade;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}

#slogan {
    align-self: flex-start;
    font-size: 8vh;
    margin-top: 5vh;
    font-family: 'Pacifico', cursive;
    color: #86cbed;
    animation: slogan 3s ease infinite;
    text-shadow: 0.1vw 0.8vh rgba(0, 0, 0, 0.9);
}

#stores {
    display: flex;
    padding-top: 12vh;
}

#outlets {
    font-family: 'Edu TAS Beginner', cursive;
    border: 4px groove black;
    border-left: 0;
    border-right: 0;
    background-color: wheat;
    height: 8vh;
    width: 100vw;
    font-size: 6.5vh;

}

.stores {
    overflow: hidden;
    padding: 4vh 30px;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.thane {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.thane img {
    height: 20vh;
    width: 20vw;
    margin-right: 20px;
}

.kalyan img {
    height: 20vh;
    width: 20vw;
}

.kalyan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.andheri {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.andheri img {
    height: 20vh;
    width: 20vw;
}

.bkc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bkc img {
    height: 20vh;
    width: 20vw;

}

.stores h2 {
    transform: translateY(5vh);
    font-size: 2.2vw;
    align-items: center;
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 600;
}

.stores a img {
    transform: translateY(10vh);
    height: 5ch;
    width: 5ch;
    border: 2px none transparent;
    border-radius: 10%;
}

.shopImg {
    border: 2px none transparent;
    border-radius: 10px;
    box-shadow: 0 0.2vh 1vh 0.5vh rgba(0, 0, 0, .3);
}

#our_c_head,
#cones_head,
#fp_head,
#ex_head,
#shakes_head,
#kulfi_head {
    padding-top: 12vh;
}

.head h1 {
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: 'Edu TAS Beginner', cursive;
    border: 4px groove black;
    border-left: 0;
    border-right: 0;
    background-color: wheat;
    height: 8vh;
    width: 100vw;
    font-size: 6.5vh;
}

.five {
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



}

.down,
.up {
    display: inline-flex;

}

.three {
    height: 80vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
}

.item,
.fpitem {
    background-color: #f6b4c0;
    display: flex;
    flex-direction: column;
    margin: 3vh 1vw 3vh 2vw;
    width: 30vw;
    justify-content: center;
    align-items: center;
    box-shadow: 0.4vh 0.4vh 1vh 0.3vh rgba(0, 0, 0, .3);
    border-radius: 20px;
    max-width: 31vw;
    max-height: 80vh;
    height: 75vh;
}


.item img,
.fpitem img {
    z-index: 2;
    margin: 20px 40px;
    height: 48vh;
}

.item p,
.fpitem p {
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.3vh;
    font-weight: 600;
    height: 3ch;
    z-index: 2;
    margin-bottom: 3vh;
    background-color: wheat;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0.4vh 0.4vh 1vh 0.3vh rgba(0, 0, 0, .3);

}

.item p a,
.fpitem p a {
    color: black;
    font-family: 'Edu TAS Beginner', cursive;
    text-decoration: none;
}

/* .item button,
.fpitem button {
    font-family: 'Lato', sans-serif;
    background-color: #84e989;
    border: 2px solid black;
    border-radius: 20px;
    height: 5vh;
    width: 12vw;
    padding: 1vh;
    margin: 2vh 0;
    cursor: grab;
    font-size: 2.2vh;
    font-weight: 600;
    box-shadow: 0.2vh 0.2vh 0vh 0 rgb(0, 0, 0);
} */

.fp {
    width: inherit;
    scale: 71%;
    max-width: 600px;
}

.fpitem img:hover {
    scale: 65%;
}

.item img:hover,
.shopImg:hover {
    scale: 105%;
}

.description {
    align-items: center;
    justify-content: center;
    display: flex;

}

.dtext {
    font-size: 2vh;
    font-family: 'Lato', sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 2vh 0vw;
    width: 22vw;
    height: 5vh;
    background-color: #fadade;
    border-radius: 20px;
    padding: 2vh 2vw;
    box-shadow: 0.4vh 0.4vh 1vh 0.3vh rgba(0, 0, 0, .3);
}

.dtext:hover {
    cursor: help;
    display: flex;
    transition: all 0.7s ease;
    overflow: hidden;
    transform: translateY(-48vh);
    font-size: 3.2vh;
    height: 60vh;
    width: 23vw;
    color: whitesmoke;
    text-shadow: 0.3vh 0.2vw black;
    background-color: rgba(0, 0, 0, .1);
    z-index: 3;
    margin: -14vh;
    margin-bottom: -50vh;
    box-shadow: 0.4vh 0.4vh 1vh 0.3vh rgba(0, 0, 0, .3);
}

footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    box-shadow: 0.4vh 0.4vh 2vh 0.3vh rgba(0, 0, 0, .3);
    font-size: 5vh;
    align-items: center;
    justify-content: center;
    background-color: #86cbed;
    height: 10vh;
    width: 100vw;
    flex-direction: column;

}

.footer {
    font-size: 2vh;
    align-items: flex-end;

}